.primary{
    color: orangered;
}

span + span {
    margin-left: 10px;
}

.btn_props{
    color: orangered;
    background-color: black;
    border: none;
    font-size: large;
    border-radius:10px; /* Makes btn round */
    padding:15px;       /* Changes size */
    margin-bottom: 1rem;
}
.btn_props:hover{
    color: black;
    background-color: red;
}
.btn_props:active{
    color: white;
    background-color: white;
}

.text_box{
    color: white;
    background-color: black;
    border: none;
    font-size: large;
    border-radius:10px; /* Makes btn round */
    padding:15px;       /* Changes size */
    margin-bottom: 1rem;
}
